/* TODO Add site wide styles */

.graph-test {
    height: 100vh;
    width: 100vh;
}

.chart-wrapper:hover {
    cursor: pointer;
}

.info {
    color: white;
}

.crosshair {
    background-color: rgb(49, 48, 48);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 5px;
}

.below-graph {
    display: flex;
    justify-content: center;
}

.middle {
    display: flex;
    
}

.side-list-container {
    display: flex;
}

.new-plan-nav:hover {
    cursor: pointer;
}

.edit-icon:hover {
    cursor: pointer;
}

.graph-container {
    margin-left: 100px
}

body {
    margin: 0px
}