/* TODO Add site wide styles */

.graph-test {
    height: 100vh;
    width: 100vh;
}

.chart-wrapper:hover {
    cursor: pointer;
}

.info {
    color: white;
}

.crosshair {
    background-color: rgb(49, 48, 48);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 5px;
}



.middle {
    display: flex;
    
}

.side-list-container {
    display: flex;
    width: 100%;
}

.new-plan-nav:hover {
    cursor: pointer;
}

.edit-icon:hover {
    cursor: pointer;
}


body {
    margin: 0px;
    background-color: rgb(49, 48, 48);
   /* color: lightgray */
}

.app-bar-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-nav {
    display: flex;
}

.new-plan-nav {
    margin-top: 5px;
    margin-left: 10px;
}

.checkbox-container {
    /* align-self: flex-start; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.click-salary-info {
    margin-right: 50px;
}

.add-salary-button {
    margin-right: 10px;
}

.add-expense-button {
    margin-right: 400px;
}

.sidebar-container {
    height: 90vh;
    width: 1000px;
    display: flex;
    flex-direction: column;
}

.sidebar-scroll-container {
    overflow-y: auto;
    overflow-x: hidden;
    height: 1000vh;
}

.below-graph {
    display: flex;
    justify-content: flex-end;
}



.check:hover {
    cursor: pointer
}

.zoom-out-button {
    margin-right: 10px;
}

.landing-page {
    width: 100%;
    height: 100vh;
    background-color: rgb(49, 48, 48)
}

.landing-page-graph-container {
    display: flex;
    justify-content: center;
}

.MuiTab-wrapper {
    color: white;
}

.instructions-container {
    margin: 30px;
    
}

.instruction {
    padding: 10px;
    color: white;
}