/* TODO Add site wide styles */

.graph-test {
    height: 100vh;
    width: 100vh;
}

.chart-wrapper:hover {
    cursor: pointer;
}

.info {
    color: white;
}

.crosshair {
    background-color: rgb(49, 48, 48);
    color: white;
    font-size: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px gray;
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 5px;
}



.middle {
    display: flex;
    
}

.side-list-container {
    display: flex;
}

.new-plan-nav:hover {
    cursor: pointer;
}

.edit-icon:hover {
    cursor: pointer;
}

.graph-container {
    margin-left: 100px
}

body {
    margin: 0px;
}

.app-bar-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.plan-nav {
    display: flex;
}

.new-plan-nav {
    margin-top: 5px;
    margin-left: 10px;
}

.checkbox-container {
    align-self: flex-start
}


.click-salary-info {
    margin-right: 50px;
}

.add-salary-button {
    margin-right: 10px;
}

.add-expense-button {
    margin-right: 400px;
}

.sidebar-container {
    height: 90vh;
    overflow-y: auto;
}

.below-graph {
    display: flex;
    justify-content: flex-end;
}

